.custom-home {
    margin-top: 20px;
}

.custom-title {
    color: red;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.images {
    width: 600px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: cyan;
}

.card-img-top {
    width: 310px;
    height: 400px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}